<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>File Watcher</title>
    <style>
       .demo-card-wide.mdl-card {
      width: 512px;
      margin-left: 30%;
      margin-top: 15%;
    }
    
    </style>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" id="login">
      <div class="mdl-card__title"> 
        <h2 class="mdl-card__title-text" style="margin-left:30%;">Enter Credentials</h2>
      </div>
      <div class="mdl-card__supporting-text">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="server_address">
              <label class="mdl-textfield__label" for="server_address">ID...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password">
              <label class="mdl-textfield__label" for="password">Password...</label>
            </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="connect_to_server()">
          Login
        </a>
      </div>
    </div>      

    <div id="after_login" style="display:none">
        <h3> Files in the Server </h3>
        <div ng-repeat="file in all_files">
                <button type="button" class="mdl-chip" style="margin:10px;" id={{file}}>
                        <span class="mdl-chip__text">{{file}}</span>
                </button>
        </div>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
        var app = angular.module('myApp', []);
        var socket = io();
        app.controller('myCtrl', function($scope,$http) {
          var server_address = "http://06f31940.ngrok.io/";
          $('#server_address').val(server_address);
          $scope.all_files = [];
          $(function () {
                var socket = io();
                socket.on('notification',function(filename){
                   //console.log("Came " + filename);
                   var path = filename.split("/");
                   var file = path[path.length - 1];
                  if($scope.all_files.indexOf(file) != -1){
                     // file found and updated
                     if(document.getElementById(file).style.backgroundColor == "green"){
                          document.getElementById(file).innerHTML += '<i class="material-icons" style="font-size:15px">cached</i>'; 
                     }
                     else{
                       document.getElementById(file).style.backgroundColor = "green";
                     }
                     document.getElementById(file).onclick = function(){
                        if(document.getElementById(file).style.backgroundColor == "green"){
                          document.getElementById(file).innerHTML = '<span class="mdl-chip__text">' +file + '</span>';
                          document.getElementById(file).style.backgroundColor = "#dedede";
                        }
                     }
                    }
                });
            });
            
            $scope.connect_to_server = function(){
                var client_address = "http://bc11f75c.ngrok.io/";    
                var password = $('#password').val();
                if(password == "nodejs"){
                    $http({
                        url: server_address + "connect?client_address=" + client_address,
                        method: "GET",
                        // success: function(data){
                        //     console.log(data);
                        // },
                        // error: function(error){
                        //     alert(error);
                        // }
                    }).then(function(data){
                        $scope.all_files = data.data;
                        $('#login').hide();
                        $('#after_login').show();
                        //source.addEventListener('message', handleCallback, false);
                    });
                }
                else{
                    alert("Incorrect Password");
                }
            }
        });
        
    </script>
    
  </body>
</html>
